<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3DS Page</title>
</head>
<body>
<h3>3DS Verification</h3>
<h4>To Confirm the Payment of (Amount) to Prime Gamez, Please Choose from the following Methods</h4>
<form action="" method="post">
    {% csrf_token %}
<button type="submit" name="text_message_button" value="Text Message">Text Message</button>
<br>
<button type="submit" name="app_button" value="App">App</button>
</form>
</body>
</html>