<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Details</title>
    <link rel="stylesheet" href="/static/assets/custom_css/card_details.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>
<body>
    <div class="main">
        <div id="logo-bar">
            <img id="img" src="/static/assets/imgs/logo.png">
            <p> - Payment Link</p>

        </div>
        <hr class="h-line">
        


        
        <div class="inner">
        <h4>Order: {{ order.orderNumber }}</h4>
        

            <div class="row">
                <div class="col-75">
                    <div class="container">
                        <form action="" method="post">
                            {% csrf_token %}

                            <div class="col-50">
                                <div class="col-50">
                                    <h3>Please enter your Billing Address</h3>
                                    
                                    <label for="cname">Address</label>
                                    <input type="text" id="cname" name="main_address">
                                    <label for="ccnum">Apt, Suite etc (Optional)</label>
                                    <input type="text" id="ccnum" name="apt_suite">

                                    <div class="row">
                                        <div class="col-50">
                                            <label for="expyear">City</label>
                                            <input style="width: 25%;" type="text" id="expyear" name="city">
                                        </div>
                                        
                                    </div>
                                </div>

                            </div>

                            <input type="submit" value="Pay: £ {{ order.amount }}" class="btn">
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="cards">
            <img src="/static/assets/imgs/m_c.png">
            <img src="/static/assets/imgs/v_c.jpg">
        </div>
    </div>

</body>
</html>