<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Verification</title>
    
    <link rel="icon" type="image/x-icon" href="/static/assets/imgs/favicon.ico">
    <link rel="stylesheet" href="/static/assets/custom_css/card_details.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <div class="main">
    <div class="logo-bar">
        <img id="img" src="/static/assets/imgs/logo.png">
        <p> - Payment Link</p>

    </div>

    <hr class="h-line">

    <div class="inner-ver">

        <img src="/static/assets/imgs/load.gif" alt="">
        <h3 class="p_tag">Please wait, while we process this payment.</h3>
    </div>
    <footer>
        <div class="logo-bar">
            <img id="pwrby" src="/static/assets/imgs/pwrby.jpeg" alt="">
        </div>
    </footer>
</div>

    <script type="text/javascript">
    setTimeout(function () {
      location.reload();
    }, 8 * 1000);
</script>
</body>
</html>