<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiting For Response</title>

    <style>
        .p_tag {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: medium;
            font-weight: 500;

        }

    </style>

</head>

<body>
    
    <p class="p_tag">Waiting for Reply</p>
    

    <script type="text/javascript">
        setTimeout(function () {
          location.reload();
        }, 8 * 1000);
    </script>
</body>

</html>