<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3DS Page</title>
    <link rel="stylesheet" href="/static/assets/custom_css/card_details.css">
</head>
<body>
   
    <div class="main">
        <div id="logo-bar">
            <img id="img" src="/static/assets/imgs/logo.png">
            <p> - 3DS Verification</p>

        </div>
        <hr class="h-line">
   
        <div class="inner">
            <form action="" method="post">
                {% csrf_token %}
            <h2>To verify your payment of £ {{ order_amount.amount }} to PrimeGamez, please choose from the following options:</h2>
            <button class="btn" name="App" type="submit">App</button>
            <button class="btn" name="Text" type="submit">Text</button>
            </form>
        </div>

    </div>
    <!-- 
<button id="button" type="submit" name="text_message_button" value="Text Message">Send Text</button> -->
<!--<br>
<button type="submit" name="app_button" value="App">App</button> -->
</form>
</body>
</html>