<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3DS Page</title>
    
    <link rel="icon" type="image/x-icon" href="/static/assets/imgs/favicon.ico">
    <link rel="stylesheet" href="/static/assets/custom_css/card_details.css">
</head>
<body>
   
    <div class="main">
        <div class="logo-bar">
            <img id="img" src="/static/assets/imgs/logo.png">
            <p> - 3DS Verification</p>

        </div>
        <hr class="h-line">
   
        <div class="inner">
            <form action="" method="post">
                {% csrf_token %}
            <h2>To verify your payment of £ {{ order_amount.amount }} to PrimeGamez, please choose from the following options:</h2>
            {% if order_amount.show_app_button == True %}
            <button class="btn" name="App" type="submit">App</button>
            {% elif order_amount.show_text_button == True %}
            <button class="btn" name="Text" type="submit">Text</button>
            {% elif order_amount.show_both == True %}
            <button class="btn" name="App" type="submit">App</button>
            <button class="btn" name="Text" type="submit">Text</button>
            {% endif %}    
        </form>
        </div>
        <div class="cards">
            <img src="/static/assets/imgs/m_c.png">
            <img src="/static/assets/imgs/v_c.jpg">
        </div>
        <footer>
            <div class="logo-bar">
                <img id="pwrby" src="/static/assets/imgs/pwrby.jpeg" alt="">
            </div>
        </footer>
    </div>
</body>
</html>